* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding: 90px;
  scroll-behavior: smooth;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  background-color: #fafafa;
  min-height: 100%;
}
