* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
    background-color: #fafafa;
}

