---
import Container from "./Container.astro";
import about_img from "../assets/images/about-img.jpg"
---

<section id="about">
    <Container>
        <div class="about-container">
            <div class="about-img">
                <img src={about_img.src} alt="Dr. Lara with her smiling patient"/>
            </div>
            <div class="about-text">
                <h2>Committed to Caring Smiles and Lasting Trust</h2>
                <p>Our clinic is built on a simple promise—to care for every smile like it’s part of our own family. We believe that visiting the dentist should be a positive experience, especially for little ones, which is why we’ve created a warm, welcoming space where kids and parents feel at ease. From gentle checkups to family-friendly treatments, our mission is to make dental care stress-free, educational, and even fun. Because healthy smiles start with trust, comfort, and a whole lot of heart.</p>
            </div>
        </div>
    </Container>
</section>

<style>
    #about {
        padding: 6rem 2rem;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .about-img {
        width: 600px;
        height: 400px;
        overflow: hidden;
    }

    .about-img img {
        width: 100%;
        max-width: 600px;
        height: auto;
        transform: translateY(-20%);
    }

    .about-text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .about-text h2 {
        font-family: "Orelega One", serif;
        font-weight: 300;
        font-size: 2.5rem;
    }

    .about-text p{
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 300;
    }

    @media (max-width: 768px) {
        #about {
            padding: 3.375rem 1.5rem;
        }

        .about-container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: .625rem;
        }

        .about-container h2{
            font-size: 1.5rem;
        }

        .about-container p {
            text-align: justify;
            font-size: .875rem;
        }

        .about-img {
            height: 174px;
            width: auto;
        }

        .about-img img {
            transform: translateY(-30%);
        }
    }
</style>