---
import ButtonCTA from "./ButtonCTA.astro";
import Container from "./Container.astro";
---

<section id="hero">
    <Container>
        <div class="hero-container">
            <h1>Your Smile, Our Priority</h1>
            <h2>Book Your Appointment Today</h2>
            <ButtonCTA class="hero-cta" href="#contact" text="Book Now" />
        </div>
    </Container>
</section>

<style>
    #hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 6.5rem 1.5rem;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .hero-container h1 {
        font-family: "Orelega One", serif;
        font-weight: 400;
        font-size: 4rem;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)
    }

    .hero-container h2 {
        font-size: 2.5rem;
        font-weight: 400;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)
    }

    @media (max-width: 768px) {
        #hero {
            padding: 3.375rem 1.5rem;
        }

        .hero-container {
            gap: .625rem;
        }

        .hero-container h1 {
            font-size: 2rem;
        }

        .hero-container h2 {
            font-size: 1.25rem;
        }

        .hero-cta {
            padding: 0.3125rem 1.5rem;
            font-size: 1rem;
        }
    }
</style>


<!-- <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 104px; padding-bottom: 104px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%); overflow: hidden; background-image: url(https://placehold.co/1440x461); flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
  <div style="text-align: center; color: white; font-size: 64px; font-family: Orelega One; font-weight: 400; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)">Your Smile, Our Priority</div>
  <div style="text-align: center; color: white; font-size: 40px; font-family: Poppins; font-weight: 400; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75)">Book Your Appointment Today</div>
  <div data-property-1="Default" style="padding-left: 32px; padding-right: 32px; padding-top: 24px; padding-bottom: 24px; background: #F58EBB; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="text-align: center; color: white; font-size: 36px; font-family: Orelega One; font-weight: 400; line-height: 26.67px; word-wrap: break-word">Book Now</div>
  </div>
</div> -->