---
import Container from "./Container.astro";
import ServiceCards from "./ServiceCards.astro";
---

<section id="services">
  <Container>
    <div class="services-container">
      <h2>Our Services</h2>
      <ServiceCards />
    </div>
  </Container>
</section>

<style>
  #services {
    padding: 3rem 6.5rem;
    max-width: 1440px;
    margin-inline: auto;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
  }

  .services-container h2 {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    #services {
      padding: 3.375rem 1.5rem;
    }

    .services-container {
      gap: 1.5rem;
    }

    .services-container h2 {
      font-size: 1.5rem;
    }
  }
</style>
