---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import MeetTheDentist from "../components/MeetTheDentist.astro";
import Services from "../components/Services.astro";
import SmileTransformations from "../components/SmileTransformations.astro";
import ContactUs from "../components/ContactUs.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Welcome to Lara Dental Clinic – Your Smile, Our Priority."
    />
    <link rel="icon" type="image/svg+xml" href="/clinic-logo.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main id="main-content">
      <Hero />
      <About />
      <MeetTheDentist />
      <Services />
      <SmileTransformations />
      <ContactUs />
    </main>
    <Footer />
  </body>
</html>
